
<!--modal detail modal custom-->
<ng-template #detail>
    <h1 mat-dialog-title class="align-center mt-30">
        Información del dispositivo
    </h1>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>X</button>
    </div>
    <div mat-dialog-content>
        <div class="had-container">
            <div class="row">
                <div class="col s12 align-center">
                    
                    <div class="boxList mt-30">
                        asdads
                    </div>
 
                </div>
            </div>    
        </div>
    </div>
</ng-template><!--/modal detail modal custom-->
