<!-- <div class="boxFilters">
                            
    <p class="mt-15 title-filter-to">Filtrar por</p>  

    <div class="boxFilter">
        <label  class="custom">Segmentos</label>
        <mat-form-field appearance="fill"  class="w-100">
            <mat-label>Seleccionar</mat-label>
            <mat-select  multiple>
                <mat-option *ngFor="let list of filter_segment">{{list}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="boxFilter">
        <label  class="custom">Fecha</label>
        <mat-form-field class="example-full-width" appearance="fill" class="w-100">
            <mat-label>Elige una fecha</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    </div>
    <div class="boxFilter">
        <label  class="custom">Rango de fecha</label>
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Ingresa un rango de fecha</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="boxButtons mt-70">
        <button mat-raised-button color="primary" class="w-100 mb-20" disabled>Aplicar Filtros</button>
        <button mat-raised-button class="w-100">Limpiar filtros</button>
    </div>
  

</div> -->