@import '../../styles-dynamic.scss';
.stores-wrapper .carousel-cell{
    display: inline-block;
    cursor: pointer;
}

.groups-wrapper > ul > li img {
    height: 28px;
    margin: 4px 20px 0px 4px;
}

.groups-wrapper > ul > li span.cant {
    font-size: 12px;
    color: #666;
    font-weight: 500;
    margin: 13px 30px 0 0;
    padding: 0;
    display: block;
    float: right;
    font-family: "Poppins", sans-serif;
    position: relative;
}

.store-list ul li > div label {
    cursor: pointer !important;
}

.store-list ul li > div:hover{
    background-color: #f8f8f8;
}

.circle {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 5px;
    float: left;
    background: #cccccc;
    margin: 2px 5px;
}

.store-list .on{
    background: #00C908;
}

.store-list .off{
    background: #FF0000;
}

.last{
    margin: 15px 0px;
    color: #6e6e6e;
}

.last-conn{
    font-size: 10px; 
    color: #bbbbbb;
    margin-left: 20px;
    float: right;
}

.expand {
    width: 28px;
    height: 28px;
    float: right;
}



